.content.content-permutation{
  display: flex;
  flex-direction: row;
  justify-content: unset;
  padding: 0;
  padding-left: 2vw;
}

.app {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 1vh 1vh 0 1vh;
  overflow-y: auto;
}

.info {
  width: 50vw;
  margin-right: 5vw;
}

.info a{
  color: #ff0634 ;
}

.info strong {
  color: #ff0634 ;
  font-weight: 700;
}

.info input,select {
  height: 2.5rem;
  background-color: transparent;
  border: 1px solid #208eff;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 5px;
  /* color: #ddd; */
  color: #ff0634;
  font-size: 1.2rem;
  margin: 0 10px;
}


.info form {
  display: flex;
  margin-top: 5vh;
  align-items: center;
}

.info .button {
  height: 5vh;
  width: 5vw;
  line-height: 4vh;
}

.permutations {
  /* height: auto;
  width:  auto; */
  border-left: 1px solid #208eff;
  border-right: 1px solid #208eff;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.permutations #perm-count {
  margin: 0;
}

.scroll {
  height: 90%;
  overflow-y: auto;

}

.scroll ul {
  width: auto;
}

.scroll ul li {
  list-style: none;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: 'Fira-Code', 'Poppins', cursive;
  font-weight: 500;
  text-transform: capitalize;
  color: #208eff;
  cursor: pointer;
  padding: 0 3px;
  margin: 3px 0;
}
 